.banner-container {
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner-button {
    margin-top: 45px;
}
.banner-header {
    margin-bottom: 30px;
    margin-top: 100px;
}

.carousel {
    border-radius: 3px;
    display: flex;
    justify-content: center;
}

.carousel .slide {
    height: 80vh;
}

.carousel .slide img {
    max-height: 100%;
    width: auto;
}

.banner-images {
    margin: 0 auto;
    height: 100%;
    width: auto;
}

