.logo-container {
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-button {
    margin-top: 45px;
}
.logo-header {
    margin-bottom: 30px;
}

.carousel {
    border-radius: 3px;
    display: flex;
    justify-content: center;
}

.carousel .slide {
    height: 50vh;
}

.carousel .slide img {
    max-height: 100%;
    width: auto;
}

.logo-images {
    margin: 0 auto;
    height: 100%;
    width: auto;
}

