.logo-section {
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}

.logo-card {
    text-align: center;
}

.logo-card h1,p {
    margin-bottom: 25px;
    text-align: center;
}

.logo-card p {
    line-height: 30px;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 80px;
}

.logo-card h1 {
    font-size: 50px;
    font-weight: 900;
}
@media screen and (max-width: 768px) {
    .logo-img{
        display: none;
    }
    .logo-card h1 {
        font-size: 30px;
        line-height: 40px;
    }
    
    .logo-card p {
        font-size: 20px;
        line-height: 25px;
        margin-left: 0;
        margin-top: 0;
    }
}