.logo-section {
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}

.logo-card {
    text-align: center;
}

.logo-card h1,p {
    margin-bottom: 25px;
    text-align: center;
}

.logo-img {
    height: 50vh;
    width: 80%;
    border-radius: 10px;
    margin-right: 70px;
    background-color: red;
    padding: 30px;
    position: relative;
    background: url(../../../../images/images/Logos/logo1.jpg) no-repeat center/cover;
}

.logo-card p {
    line-height: 30px;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 80px;
}

.logo-card h1 {
    font-size: 50px;
    font-weight: 900;
}
@media screen and (max-width: 768px) {
    .logo-img{
        display: none;
    }
    .logo-card h1 {
        font-size: 30px;
        line-height: 40px;
    }
    
    .logo-card p {
        font-size: 20px;
        line-height: 25px;
    }
}