.btn {
    border: 1px solid rgb(89, 88, 88);
    text-decoration: none;
    padding: 20px;
    font-size: 30px;
    color: #000;
    font-weight: 500;
}

.btn:hover {
    color: #fff;
    background-color: rgb(4, 4, 4);
    transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 768px) {
    .btn {
        padding: 10px;
        font-size: 20px;
    }
}