.cards-section {
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}

.cards-card {
    text-align: center;
}

.cards-card h1,p {
    margin-bottom: 25px;
    text-align: center;
}

.cards-img {
    height: 50vh;
    width: 80%;
    border-radius: 10px;
    margin-left: 70px;
    background-color: red;
    padding: 30px;
    position: relative;
    background: url(../../../../images/images/BusCards/card1.jpg) no-repeat center/cover;
}

.cards-card p {
    line-height: 30px;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 80px;
}

.cards-card h1 {
    font-size: 50px;
    font-weight: 900;
}


@media screen and (max-width: 768px) {
    .cards-img{
        display: none;
    }
}